{% extends "projbase.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <p>
        In this project I decided to make a program that plays 5 card draw 
        poker with the player. The point of this project was to show what we have learned in 
        the MVC course at BTH. I decided to focus in more on the card game theming from earlier assignments. 
        Mostly because I felt it was a good idea to reuse things we did in older assignments for something more complex. 
        On this page, the game link takes you to the playing field. Sometimes reset is nescesary to clear the cache or if you are running low on "money".
        
    </p>
{% endblock %}