{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>Card games are a classic.</p>
<p><a href="{{ path('card_start') }}">Cards</a></p>
<p>{{ num }}</p>
<p class="hand">
{% for i in range(0, deck|length-1) %}
    {{ deck[i] }}
{% endfor %}
</p>

{% endblock %}