{% extends "base.html.twig" %}

{% block title %}Debug{% endblock %}

{% block body %}
<h1>Debug</h1>
<p><a href="{{ path('card_start') }}">Cards</a></p>

<p>{{ deck }}</p>
<p class="hand">
    {% for i in range(0, decklist|length-1) %}
        {{ decklist[i] }}
    {% endfor %}
</p>

{% endblock %}