{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Dokumentation</h1>

<h1>Flödesschema</h1>
<img src="{{ asset('img/gameflowchart.jpg') }}" alt="classdiagram">

<h1>Pseudokod</h1>
<h2></h2>
<p>
    <img src="{{ asset('img/pseudocode03.webp') }}" alt="pseudocode">
</p>

<h1>Klasser</h1>
<ul>
    <li>Card: Representerar korten som finns i kortleken.</li>
    <li>DeckOfCards: Representerar hela kortleken, innehåller flera card.</li>
    <li>DeckOfJokers: Samma som DeckOfCards men den har jokrar också.</li>
    <li>Player: Representerar spelaren och det som spelaren kan göra.</li>
    <li>Bank: Representerar bankiren och det som bankiren kan göra. Ärver av player.</li>
</ul>

{% endblock %}