{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}

<div>
    <h1>{{ controller_name }}</h1>

    <ul>
        <li><a href="{{ path('library_view_all') }}">Entire library</a></li>
        <li><a href="{{ path('app_library_create') }}">Create book</a></li>
    </ul>
</div>
{% endblock %}
